<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some Text here</p>
        {{> footer}}
    </body>
</html>
